{% if messages %}

	<style type="text/css">
		div.messages{
			background-color: #ff6b6b
			color: #f7fff7;
		}
		ul.messages{
			list-style-type: none;
		}
	</style>

	<div class="messages">
		
		<ul class="messages">
			{% for message in messages %}
			<li {% if message.tags %} class="{{message.tags}}"{% endif %}> {% if "html_safe" in message.tags %}{{message|safe}}{% else %}{{ message }}{% endif %}</li>
			{% endfor%}
		</ul>
	</div>
{% endif %}