<nav>
    <div class="container">
    <ol class='breadcrumb'>
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'Plans:profile' %}">Profile</a></li>
          
          {% block post_detail_link %}
          {% endblock %}

          {% if not request.user.is_authenticated %}
          <li class='pull-right'><a href='/register'>Register</a></li>
          <li class='pull-right'><a href='/login'>Login</a></li>
          {% else %}
          <li class='pull-right'><a  href="/plans/">Plans</a></li>
          {% endif %}
      </ol>
  </div>
</nav>