{% extends 'base.html' %}

{% block content %}
<div class="container">
	<h1>Select Plan</h1>
	<div class="row">
		{% for object in object_list %}
			<div class="col-sm-4 col-md-3">
				<h3>{{ object.plan_type }}</h3>
				{% if object.plan_type == 'Yearly' %}
				<p>Price: ${{ object.price }}<sub>/yearly</sub></p>
				{% endif %}
				{% if object.plan_type == 'Monthly' %}
				<p>Price: ${{ object.price }}<sub>/monthly</sub></p>
				{% endif %}
				{% if object.plan_type == 'Weekly' %}
				<p>Price: ${{ object.price }}<sub>/weekly</sub></p>
				{% endif %}
				{% if object.plan_type == 'Hacker plan' %}
				<p>Price: ${{ object.price }}<sub>/free</sub></p>
				{% endif %}
				<h4>Series</h4>
				<ul>
					{% for series in object.series_set.all %}
						<li>{{series.title}}</li>
					{% endfor %}
				</ul>
				{% comment %}
					We create a form that allows user select a particular type of plan
				{% endcomment %}
				{% if object.plan_type != 'Hacker plan' %}
					
					<form method="POST" action="{% url 'Plans:plan_list' %}"> {% csrf_token %}
				
				{%comment%} check if selected Plan already in use {% endcomment %}
					{% if object.plan_type != current_plan %}
				
						<button class="btn btn-info">Select</button>
					{% else %}
						<small>This is your Active Plan</small>
					{% endif %}
					<input type="hidden" name="plan_type" value="{{ object.plan_type }}">
					</form> 
				{% endif %}
			</div>
		{% endfor %}
	</div>
	
</div>

{% endblock %}