{% extends 'base.html' %}

{% block content %}

<div class="container">
	<div class="row">
		<h1>My Profile</h1><br />
		<div class="col-sm-4 col-md-4">
			{% if user_sub != None %}
				<h4>Current Plan: {{user_plan.plan.plan_type}}<small>
					since {{user_sub.get_created_date}}
				</small> </h4>
			{% endif %}
			
			{% if user_sub.active != False %}
				<p>Next Payment due: {{user_sub.get_next_billing_date}}</p>
				<a href="{% url 'Plans:cancel' %}">Cancle Subscription</a>
			{% else %}
			<p>You do not have an active plan. Check out
				<a href="{% url 'Plans:plan_list' %}"></a>
			</p>
			{% endif %}
		</div>
		
	</div>
	
</div>

{% endblock %}