{% extends 'base.html' %}

{% block post_detail_link %}
	{% if episode_object is not None %}
		<li><a href="{{episode_object.Series.get_absolute_url}} "> {{episode_object.Series.title}} </a></li>
		<li>{{episode_object.title}}</li>
	{% endif %}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-mid-4">
				<h1>Episode Detail View</h1>

				{% if episode_object is not None %}
			 
			 		<h3>{{ episode_object.episode_title }}</h3>

			 		<video controls
			 				controlsList="nondownload"
			 				poster="{{episode_object.thumbnail.url}} "
			 				src="/static{{episode_object.video_url}} "
			 				width="300"
			 				height="200">
			 			
			 		</video>

			 	{% else %}
			 		<h3>upgrade plan</h3>
			 		<h4>To view Episode, upgrade Plan</h4>
			 		<a href="{% url 'Plans:plan_list' %}"><button class="btn btn-primary">Plans</button> </a>
				{% endif %}
			</div>
			
		</div>
		
	</div>

{% endblock %}
