{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-mid-4">
				<h1>Episodes </h1>
				<p><b>Series Title</b>: {{object.title}}</p>
				<p><b>About Series</b>: {{object.description}}</p>
				<p>{% for episode in object.episodes %}
					<ol>
						<li><a href="{{episode.get_absolute_url }}">{{episode.episode_title}}</a></li>
					</ol> 
					{% endfor %}
				</p>
			</div>
			
		</div>
		
	</div>

{% endblock %}