{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-mid-4">
				<h1>Series</h1>
				{% for obj in object_list %}
					<a href="{{ obj.get_absolute_url }}">{{ obj }}</a>
				{% endfor %}
				
			</div>
			
		</div>
		
	</div>

{% endblock %}